@keyframes spin-border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.page {
    background-image: url('/ai_fone.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 10px;
    position: relative;
}

.title {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: clamp(22px, 5vw, 36px);
}

.model {
    position: absolute;
    top: 5px;
    right: 5px;
}

.model__label {
    color: white;
}

.model__select {
    margin-left: 6px;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 8px 0 rgb(153, 231, 229);
    cursor: pointer;
    background-color: bisque; 
}

.container-chat {
    margin-bottom: 45px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
}

.question__textarea {
    width: 70%;
    border-radius: 10px;
    padding: 5px 5px 8px 5px;
    resize: none;
    overflow: hidden;
    background-color: rgb(200, 244, 251);
}

.question__button {
    border: 1px solid blue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 8px 0 rgb(153, 231, 229);
    cursor: pointer;
    color: blue;
    background-color: rgb(200, 244, 251);
    font-size: 14px;
}

.question__button:hover {
    box-shadow: 0 0 3px 0 transparent;
    border: 1px solid red;
    color: red;
}

.question__button:disabled {
    color: gray;
    border: 1px solid rgb(68, 68, 68);
}

.question__button:disabled:hover {
    color: gray;
    border: 1px solid rgb(68, 68, 68);
    box-shadow: 0 0 8px 0 rgb(153, 231, 229);
    cursor: default;
}

.ai-responses {
    position: fixed;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 1;
}

.ai-responses  span {
    z-index: 5;
}

.ai-responses::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: bisque; 
    z-index: 2; 
}

.ai-responses-listening {
    color: green;
}

.ai-responses-listening::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 108%;
    height: 108%;
    border-radius: 50%;
    background: conic-gradient(
        rgba(0, 128, 0, 0) 0deg,      
        rgba(0, 128, 0, 0.5) 90deg,   
        rgba(0, 128, 0, 0.75) 180deg, 
        rgba(0, 128, 0, 1) 270deg    
    );
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0) 100%);
    animation: spin-border 1s linear infinite;
}

.ai-responses-loading {
    color: red;
}

.ai-responses-loading::before {
    content: "";
    position: absolute;
    width: 108%;
    height: 108%;
    border-radius: 50%;
    background: conic-gradient(
        rgba(255, 0, 0, 0) 0deg,       
        rgba(255, 0, 0, 0.5) 90deg,   
        rgba(255, 0, 0, 0.75) 180deg,  
        rgba(255, 0, 0, 1) 270deg     
    );
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0) 100%);
    animation: spin-border 1s linear infinite;
}

.history {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.history__block-question {
    display: flex;
    justify-content: flex-end;
}

.history__question {
    width: 50%;
    border-radius: 10px;
    padding: 5px;
    background-color: #FFE4C4;
    box-shadow: 2px 2px 5px 0 black;
}

.history__text {
    padding: 5px 10px;
}

.history__responses {
    width: 100%;
    min-height: auto;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(210, 243, 169);
    box-shadow: 2px 2px 5px 0 black;
}

.history__list {
    padding: 5px 10px;
    list-style: none;
}
